In [1]:
print("Hello StaniCZECH")

Hello StaniCZECH

In [2]:
def random_name_generator (numOfNames:int) -> list:
    import random
    surnames = ["Smith", "Johnson", "Williams", "Jones", "Brown"]
    first_names = ["James", "Mary", "John", "Patricia", "Robert"]
    names = []
    for i in range(numOfNames):
        surname = random.choice(surnames)
        first_name = random.choice(first_names)
        names.append(f"{first_name} {surname}")
    return names

In [3]:
random_name_generator(5)

['Robert Smith',
 'Robert Johnson',
 'Patricia Johnson',
 'John Johnson',
 'Robert Smith']

In [ ]:
import pandas as pd

pd.DataFrame(random_name_generator(5), columns=["Name"])

            Name
0    James Jones
1   Robert Smith
2     Mary Smith
3  John Williams
4     Mary Brown